/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 0;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

html{
	height: 100% !important;
  box-sizing: border-box;
}
/*MAIN*/

body { 
    background-color: rgb(237, 237, 239);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url(../img/body_img.png);
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-bottom: 6rem;
}

a {

	color: #e89a20;
	text-decoration: none;
	font-weight: bold;
}

a:hover {

	color: #000;
}

img {

	width: 100%;

}

header {

	background: url(../img/index_header.jpg) repeat center;
	width: 100%;
	height: 76px;
	top: 0;
	left: 0;
	border-bottom: 4px solid #e89a20;
	z-index: 100;

}

#logo{

	margin: 13px;
	float: left;
	width: 300px;
	height: 57px;
	background: url(../img/index_logo.png) no-repeat center;
	display: block;

}

nav {

	float: right;
	padding: 20px;	
	line-height: 1;
	
}

#menu-icon {
	background-color: black;
	display: hidden;
	width: 40px;
	height: 40px;
	background: #000 url(../img/menu_icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #000;

}
.current:hover{
	color:#e89a20;
}

section {

	margin: 13% auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px

}

h1 {

	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
	
 }


.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1 {
  color: white;
  text-align: center;
}



footer{
   background: url(../img/index_header.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #000;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

footer a{color: #e89a20;}

.form{	
width: 40%;
margin-left: 30%;
margin-right: 30%;
margin-top:1%;
text-align: center;
border-radius: 10%;
background: url(../img/index_header.jpg) repeat center;
}

.button{
	padding-bottom:10px;
}