.pagination{
	margin-left:10% !important;
	margin-right:10% !important;
	width:80%;
	margin-top: 0% !important;
}
.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
	background-color: #000; 
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}